.dropdown-menu {
    max-width: 300px !important;
}

.share-item {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.share-item-label {
    font-weight: 500;
    font-size: 14px;
    background: none;
    padding-left: 10px;
}

.share-item-icon {
    background: none;
}

.share-button-icon {
    margin-right: 6px;
}

button[id^="button-view"] svg path,
button[id^="button-view"]{
    background-color: #fff;
    color: #767676 !important;
    fill: #767676;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding: 0 11px;
    outline: none !important;
    box-shadow: none !important;
}

button[id^="button-view"]:hover svg path,
button[id^="button-view"]:hover {
    color: #111 !important;
    background-color: #fff;
    fill: #111;
    border-color: #111;
    outline: none !important;
    box-shadow: none !important;
}

button[id^="button-like"] svg path,
button[id^="button-like"] {
    background-color: #f15151;
    color: #fff !important;
    fill: #fff;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    border: 1px solid #f15151;
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding: 0 11px;
}

button[id^="button-like"]:hover svg path,
button[id^="button-like"]:hover {
    background-color: #e04c4c;
    border: 1px solid #e04c4c;
}

svg[id^="heart-icon-like"] {
    background-color: #f15151;
}

.card-list {
    padding: 0 12px;
    margin-top: 16px;
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(3, minmax(0,1fr));
    align-items: start;
}

.card-list-part {
    background: none;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px;
}

.card {
    width: 100%;
    height: 35vw;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

button[class^=card-button] {
    display: none !important;
    border: none !important;
}

.card:hover  {
    cursor: zoom-in !important;
}

.card:hover button[class^=card-button] {
    display: flex !important;
}

.card--image {
    width: 100%;
    height: 100%;
}

.modal {
    background-color: rgba(0,0,0,.6);
    cursor: zoom-out;
}

.modal-dialog {
    height: 95% !important;
    border: none;
    border-radius: 4px;
    cursor: auto;
}

.modal-xl {
    max-width: 90% !important;
}

.modal-content {
    border: none !important;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.modal-header {
    border: none !important;
    padding: 9px 12px !important;
    width: 100%;
    display: flex;
}

.modal-header-toolbar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.modal-header-title {
    flex: 1;
    font-size: 15px !important;
    line-height: 1.35 !important;
    font-weight: 500 !important;
    margin-left: 16px;
}

.modal-body {
    border: none !important;
    padding: 10px 16px !important;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.modal-footer {
    border: none !important;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 14px 16px !important;
}

.photo-view-image {
    width: 100%;
    height: 100%;
}