* {
    box-sizing: border-box;
    background-color: white;
    color: #111;
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.34;
    font-weight: 700;
}

.app-container {
    width: 100%;
}

.button {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 1rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 250ms;
    height: 38px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

.loading {
    text-align: center;
}

[data-rmiz-wrap="visible"]{
    justify-content: center;
}